<table mat-table [dataSource]="investmentYield">

  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.investmentYear | number:'1.0-4'}} </td>
  </ng-container>

  <ng-container matColumnDef="InitialInvestment">
    <th mat-header-cell *matHeaderCellDef>  Initial Investment  </th>
    <td mat-cell *matCellDef="let element"> {{element.initialInvestment | number:'1.0-4'}} </td>
  </ng-container>

  <ng-container matColumnDef="YearlyInput">
    <th mat-header-cell *matHeaderCellDef>  Yearly Input  </th>
    <td mat-cell *matCellDef="let element"> {{element.yearlyInput | number:'1.0-4'}} </td>
  </ng-container>

  <ng-container matColumnDef="InvestmentYield">
    <th mat-header-cell *matHeaderCellDef>  Investment Yield  </th>
    <td mat-cell *matCellDef="let element"> {{element.investmentYield | number:'1.0-4'}} </td>
  </ng-container>

  <ng-container matColumnDef="FinalBalance">
    <th mat-header-cell *matHeaderCellDef>  Final Balance  </th>
    <td mat-cell *matCellDef="let element"> {{element.finalBalance | number:'1.0-4'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>  
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
